{% extends "css_app/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css_app/home_page.css' %}" />
{% endblock %}

{% if user.is_authenticated %}
  {{ user.username }}
  <a href="{% url 'css_app:logout' %}">Log Out</a>
{% else %}
  <a href="{% url 'css_app:login' %}">Log In</a>
{% endif %}

{% block content %}
{% if latest_css_file_list %}
	<h1> Your CSS Files</h1>
	<div class="trending_files_container">
    {% for css_file in latest_css_file_list %}

    	<div class="trending_css_row">
           	<div class="css_row_inner">
	    		<p><a class="trending_css_file_titles" href="/css_app/{{ css_file.id }}/">{{ css_file.title }}</a> <span class="hostText">- {{ css_file.host }}</span></p>
	    		<p>{{ css_file.description }} <span class="button_holder"><a class="trending_action_buttons" style="background-color: #2980b9" href="/css_app/{{ css_file.id }}/">Details</a><a class="trending_action_buttons" style="background-color: #e74c3c" href="/css_app/remove/{{ css_file.id }}">Remove</a></span></p>
    		</div>


    	</div>

    {% endfor %}
    </div>
{% else %}
    <p>No css files are available. Upload your first one below</p>
{% endif %}

<h1> Upload CSS File </h1>

<div class="upload_css_file_container"> 

	<form action="" method="POST">
	{% csrf_token %}
	<div class="formInputHolder">
		<label>Title - </label> <input class="textInput" type="text" name="title"> </input>
	</div>
	<div class="formInputHolder">
		<label>Host - </label> <input class="textInput" type="text" name="host"> </input>
	</div>
	<div class="formInputHolder">
		<label>Description - </label> <input style="width: 345px" class="textInput" type="text" name="description"> </input>
	</div>
	<div class="formInputHolder">
		<label>CSS Text - </label> <textarea type="textarea" rows="4" cols="59" name="css_text"> </textarea>
	</div>

	<input type="submit" id="submitCssFileButton" value="Upload Css File" />
	</form>
</div>

<h1>
	Trending Themes
</h1>

{% if trending_css_file_list %}

	<div class="trending_files_container">
    {% for css_file in trending_css_file_list %}
        <div class="trending_css_row">
        	<div class="css_row_inner">
        	    <p><a class="trending_css_file_titles" href="/css_app/{{ css_file.id }}/">{{ css_file.title }}</a> <span class="hostText">- {{ css_file.host }}</span></p>
        		<p>{{ css_file.description }} <span class="button_holder"><a class="trending_action_buttons" style="background-color: #2980b9" href="www.google.com">Save</a><a class="trending_action_buttons" href="/css_app/upvote/{{ css_file.id }}">Upvote</a></span></p>
        		<span class="vote_count">+ {{ css_file.vote_count }}</span>
        	</div>

        </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
